{% extends 'belt_exam_app/base.html' %}
{% load static %}

{% block title%}New Wish{% endblock %}

{% block extrastyles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/new_wish_css/new_wish.css' %}" />
{% endblock %}

{% block edit %}

<div id="wish_container_1" style="font-size:50px">Hello {{ user.first_name }}! Edit a wish!</div>
<div class="pages_container">
    <a class="pages" href="/wishes">Home</a>
</div>
<div id="logout"><a href="/logout">Logout</a>
</div>
<br>
			
<form action="/wishes/edit/process/{{ wish_to_edit.id }}" method="POST">
	{% csrf_token %}
	<div class="form-group">
		<label>I wish for</label>
		<input class="form-control" value="{{ wish_to_edit.I_wish_for }}" name="I wish for">
	</div>

	<div class="form-group">
		<label>Description</label>
		<input class="form-control" value="{{ wish_to_edit.wish_description }}" name="Description">
	</div>

	<button class="btn btn-info" types ="submit">Submit</button>
</form>





{% endblock %}

form action="/wishes/edit/process/{{ wish_to_edit }}